<%= form_with(model: job_type, local: true) do |form| %>
  <% if job_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_type.errors.count, "error") %> prohibited this job_type from being saved:</h2>

      <ul>
      <% job_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job_type_description %>
    <%= form.text_field :job_type_description, id: :job_type_job_type_description, required: true %>
  </div>

  <%= button_tag( :class => "btn waves-effect waves-light right") do %>
    Save<i class="material-icons right">save</i>
  <% end %>

<% end %>
