

<h1>Job Types</h1>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Job Type"), new_job_type_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :job_type_description, "Job Type Description") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_types.each do |job_type| %>
      <tr data-link=" <%= job_type_path(job_type) %>" tr>
        <td><%= job_type.job_type_description %></td>
        <td><%= link_to 'Edit', edit_job_type_path(job_type) %></td>
        <% if user_signed_in? && current_user.admin? %><td><%= link_to 'Delete', job_type,  method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= paginate @job_types %></center>
