

<h1>Job Notes</h1>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Job Note"), new_job_note_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th>Job</th>
      <th>Job notes</th>
      <th>Job notes owner</th>
      <th>Job notes date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_notes.each do |job_note| %>
      <tr data-link=" <%= job_note_path(job_note) %>" >
        <td><%= job_note.job_id %></td>
        <td><%= job_note.job_notes %></td>
        <td><%= job_note.job_note_owner %></td>
        <td><%= job_note.job_note_date %></td>
        <td><%= link_to 'Edit', edit_job_note_path(job_note) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<style>
  tr{
    cursor: pointer;
    }
</style>
<script>
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
</script>