

<p>
  <strong>Project:</strong>
  #<%= @job_note.job.project.project_and_customer_and_branch %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job_note.job.job_type.job_type_description %>
</p>

<p>
  <strong>Job Note Owner:</strong>
  <%= @job_note.job_note_owner %>
</p>

<p>
  <strong>Job Note Date:</strong>
  <%= @job_note.job_note_date %>
</p>

<p>
  <strong>Job Notes:</strong>
  <%= @job_note.job_notes %>
</p>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  job_notes_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_job_note_path(@job_note), class: "btn waves-effect waves-light" %> 