<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @projectnote.project_id %>
</p>

<p>
  <strong>Project notes:</strong>
  <%= @projectnote.project_notes %>
</p>

<p>
  <strong>Project note date:</strong>
  <%= @projectnote.project_note_date %>
</p>

<p>
  <strong>Note owner:</strong>
  <%= @projectnote.note_owner %>
</p>

<%= link_to 'Edit', edit_projectnote_path(@projectnote) %> |
<%= link_to 'Back', projectnotes_path %>
