<%= form_with(model: rentalequipment, local: true) do |form| %>
  <% if rentalequipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rentalequipment.errors.count, "error") %> prohibited this rentalequipment from being saved:</h2>

      <ul>
      <% rentalequipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rental_description %>
    <%= form.text_field :rental_description, id: :rentalequipment_rental_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
