<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_status_id %>
    <%= form.collection_select :employee_status_id, EmployeeStatus.all, :employee_status_id, :employee_status_description, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Status' } %>
  </div>

  <div class="field">
    <%= form.label :employee_type_id %>
    <%= form.collection_select :employee_type_id, EmployeeType.all, :employee_type_id, :employee_type_description, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Type' } %>
  </div>

 <div class="field">
    <%= form.label :state_id %>
    <%= form.collection_select :state_id, State.all, :state_id, :state_name, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a State' } %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :employee_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :employee_last_name %>
  </div>

  <div class="field">
    <%= form.label :join_date %>
    <%= form.text_field :join_date, id: :employee_join_date, placeholder: "YYYY-MM-DD", :class => 'datepicker', :value => employee.join_date || Date.today.strftime('%Y-%m-%d') %>
  </div>

  <div class="field">
    <%= form.label :dismiss_date %>
    <%= form.text_field :dismiss_date, id: :employee_dismiss_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
