<h3><%= @employee.first_name %> <%= @employee.last_name %></h3>

<table>
  <col width="300">

  <tr>
    <td><strong>Employee Status:</strong></td>
    <td><%= @employee.employee_status.employee_status_description %></td>
  </tr>

  <tr>
    <td><strong>Employee Type:</strong></td>
    <td><%= @employee.employee_type.employee_type_description %></td>
  </tr>

  <tr>
    <td><strong>Join Date:</strong></td>
    <td><%= @employee.join_date.strftime("%m/%d/%Y") %></td>
  </tr>

  <tr>
    <td><strong>Dismiss date:</strong></td>
    <td><%= @employee.try(:dismiss_date).try(:strftime, ("%m/%d/%Y")) %></td>
  </tr>

  <tr>
    <td><strong>State:</strong></td>
    <td><%= @employee.state.state_name %></td>
  </tr>

</table>

</br>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  employees_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_employee_path(@employee), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
