

<p>
  <strong>First Name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last Lame:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Employee Status:</strong>
  <%= @employee.employee_status.employee_status_description %>
</p>

<p>
  <strong>Employee Type:</strong>
  <%= @employee.employee_type.employee_type_description %>
</p>


<p>
  <strong>Join Date:</strong>
  <%= @employee.join_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Dismiss date:</strong>
  <%= @employee.try(:dismiss_date).try(:strftime, ("%m/%d/%Y")) %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee.state.state_name %>
</p>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  employees_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_employee_path(@employee), class: "btn waves-effect waves-light" %> 
<%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %>
