<p id="notice"><%= notice %></p>

<p>
  <strong>Assigned:</strong>
  <%= @assignment.subcontractor.try(:subcontractor_name) %>
  <%= @assignment.employee.try(:first_name) %>
</p>

<p>
  <strong>Task:</strong>
  <%= @assignment.task.task_description %>
</p>

<p>
  <strong>Assignment date:</strong>
  <%= @assignment.assignment_date %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
