

<p>
  <strong>Subcontractor Assigned:</strong>
  <%= @assignment.subcontractor.subcontractor_name %>
</p>

<p>

</p>
  <strong>Employee Assigned:</strong>
  <%= @assignment.employee.try(:first_name) %>

<p>
  <strong>Assignment Date:</strong>
  <%= @assignment.assignment_date %>
</p>

<p>
  <strong>Task:</strong>
  <%= @assignment.task.task_description %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', @assignment.task %>
