<p id="notice"><%= notice %></p>

<p>
  <strong>Subcontractor:</strong>
  <%= @assignment.subcontractor.subcontractor_name %>
</p>

<p>
  <strong>Task:</strong>
  <%= @assignment.task.task_description %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @assignment.employee.first_name %>
</p>

<p>
  <strong>Assignment date:</strong>
  <%= @assignment.assignment_date %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
