

<p>
  <strong>Subcontractor Assigned:</strong>
  <%= @assignment.subcontractor.subcontractor_name %>
</p>

<p>

</p>
  <strong>Employee Assigned:</strong>
  <%= @assignment.employee.try(:first_name) %>

<p>
  <strong>Assignment Date:</strong>
  <%= @assignment.assignment_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Task:</strong>
  <%= @assignment.task.task_description %>
</p>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @assignment.task, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_assignment_path(@assignment), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @assignment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
