<%= form_with(model: project_status, local: true) do |form| %>
  <% if project_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_status.errors.count, "error") %> prohibited this project_status from being saved:</h2>

      <ul>
      <% project_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_status_description %>
    <%= form.text_field :project_status_description, id: :project_status_project_status_description, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
