

<h1>Subcontractor Statuses</h1>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Subcontractor Status"), new_subcontractor_status_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :subcontractor_status_description) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcontractor_statuses.each do |subcontractor_status| %>
      <tr data-link=" <%= subcontractor_status_path(subcontractor_status) %>" >
        <td><%= subcontractor_status.subcontractor_status_description %></td>
        <td><%= link_to 'Edit', edit_subcontractor_status_path(subcontractor_status) %></td>
        <td><%= link_to 'Delete', subcontractor_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
