<%= form_with(model: subcontractor, local: true) do |form| %>
  <% if subcontractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subcontractor.errors.count, "error") %> prohibited this subcontractor from being saved:</h2>

      <ul>
      <% subcontractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row"> <%# row 1 %>
     <div class="field col l3">
      <%= form.label :subcontractor_name, "Name *" %>
      <%= form.text_field :subcontractor_name, id: :subcontractor_subcontractor_name, required: true, pattern: "[a-zA-Z'-.\s*",  oninvalid: "setCustomValidity('Please fill this field with letters A-Z')", onchange: "try{setCustomValidity('')}catch(e){}" %>
    </div>

    <div class="field col l2">
      <%= form.label :subcontractor_phone, "Phone" %>
      <%= form.text_field :subcontractor_phone, id: :subcontractor_subcontractor_phone %>
    </div>

    <div class="field col l3">
      <%= form.label :subcontractor_email, "Email" %>
      <%= form.text_field :subcontractor_email, id: :subcontractor_subcontractor_email, type: "email" %>
    </div>
  </div> <%# row 1 end %>  

  <div class="row"> <%# row 2 %>
    <div class="field col l4">
      <%= form.label :company %>
      <%= form.text_field :company, id: :subcontractor_company %>
    </div>

    <div class="field col l3">
      <%= form.label :subcontractor_status_id, "Status *"  %>
      <%= form.collection_select :subcontractor_status_id, SubcontractorStatus.all, :subcontractor_status_id, :subcontractor_status_description, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Status' } %>
    </div>
  </div> <%# row 2 end %>

  <%= button_tag( :class => "btn waves-effect waves-light right") do %>
    Save<i class="material-icons right">save</i>
  <% end %>

<% end %>
