

<h1>Subcontractors</h1>

  <%# button to open up the modal at bottom which has filter options%> 
  <a class="waves-effect waves-light btn modal-trigger" href="#filter"><i class="material-icons right">filter_list</i>filter</a>

  <%# filter modal at bottom for filtering options %>
  <div id="filter" class="modal bottom-sheet"><%# start modal %>
    <div class="modal-content">
      <h4>Filters</h4>
      <%# using ransack to search for these inputs%>
      <%= search_form_for @search, url: search_subcontractors_path, html: { method: :post } do |f| %>
        <div class="row">
          <div class="field col l2">
            <%= f.label :subcontractor_status_id %>
            <%= f.collection_select :subcontractor_status_id_eq, SubcontractorStatus.all, :subcontractor_status_id, :subcontractor_status_description, {:prompt => true}, {:class => "select2", :selected => 1, "data-placeholder" => 'Select a Type' } %>
          </div>
        </div>
        <%= f.submit 'Apply', class: "btn" %>
        <%= link_to 'Clear',  subcontractors_path, class: "btn waves-effect waves-light grey" %> 
      <% end %>
    </div>
  </div> <%# end filter modal %>

  <%# button to open up the modal at bottom which has search %> 
  <a class="waves-effect waves-light btn modal-trigger" href="#search"><i class="material-icons right">search</i>search</a>

  <%# search modal at bottom for search %>
  <div id="search" class="modal bottom-sheet"><%# start modal %>
    <div class="modal-content">
      <h4>Search</h4>
      <%# using ransack to search for these inputs%>
      <%= search_form_for @search, url: search_subcontractors_path, html: { method: :post } do |f| %>
        <div class="row">
          <div class="field col l6">
            <%= f.text_field :subcontractor_name_or_subcontractor_phone_or_subcontractor_email_or_company_cont %>
          </div>
        </div>
        <%= f.submit 'Search', class: "btn" %>
      <% end %>
    </div>
  </div> <%# end search modal %>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Subcontractor"), new_subcontractor_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :subcontractor_name, "Name") %></th>
      <th><%= sort_link(@search, :subcontractor_phone, "Phone") %></th>
      <th><%= sort_link(@search, :subcontractor_email, "Email") %></th>
      <th><%= sort_link(@search, :company) %></th>
      <th><%= sort_link(@search, :subcontractor_status_subcontractor_status_description, "Status") %></th>

    </tr>
  </thead>

  <tbody>
    <% @subcontractors.each do |subcontractor| %>
      <tr data-link=" <%= subcontractor_path(subcontractor) %>" tr>
        <td><%= subcontractor.subcontractor_name %></td>
        <td><%= number_to_phone(subcontractor.subcontractor_phone, area_code: true) %></td>
        <td><%= subcontractor.subcontractor_email %></td>
        <td><%= subcontractor.company %></td>
        <td><%= subcontractor.subcontractor_status.subcontractor_status_description %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= paginate @subcontractors %></center>

<style>
  tr{
    cursor: pointer;
    }
</style>
<script>
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
  $(document).ready(function(){ //loads
      $('.select2').select2({     //select2
          placeholder: function(){ //sets placeholder based on data-placeholder in the field
              $(this).data('placeholder');
          },
          allowClear: true,
          dropdownParent: $('#filter') //fixes select2 on modals cause technically modals aren't part of the body element
      });
  });
</script>