<p id="notice"><%= notice %></p>

<p>
  <strong>Subcontractor status:</strong>
  <%= @subcontractor.subcontractor_status.subcontractor_status_description %>
</p>

<p>
  <strong>Subcontractor name:</strong>
  <%= @subcontractor.subcontractor_name %>
</p>

<p>
  <strong>Subcontractor phone:</strong>
  <%= number_to_phone(@subcontractor.subcontractor_phone, area_code: true) %>
</p>

<p>
  <strong>Subcontractor email:</strong>
  <%= @subcontractor.subcontractor_email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @subcontractor.company %>
</p>

<%= link_to 'Edit', edit_subcontractor_path(@subcontractor) %> |
<%= link_to 'Back', subcontractors_path %>
