<h3><%= @subcontractor.subcontractor_name %></h3>

<table>
  <col width="200">

  <tr>
    <td><strong>Subcontractor Phone:</strong></td>
    <td><%= number_to_phone(@subcontractor.subcontractor_phone, area_code: true) %></td>
  </tr>

  <tr>
    <td><strong>Subcontractor Email:</strong></td>
    <td><%= @subcontractor.subcontractor_email %></td>
  </tr>

  <tr>
    <td><strong>Company:</strong></td>
    <td><%= @subcontractor.company %></td>
  </tr>

  <tr>
    <td><strong>Subcontractor Status:</strong></td>
    <td><%= @subcontractor.subcontractor_status.subcontractor_status_description %></td>
  </tr>

</table>

</br>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  subcontractors_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_subcontractor_path(@subcontractor), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @subcontractor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
