<h3><%= @subcontractor.subcontractor_name %></h3>

<table width="100%">

  <tr>
    <td width="20%"><strong>Company:</strong></td>
    <td width="30%" style="border-right:solid 1px #e0e0e0;"><%= @subcontractor.company %></td>

    <td style="padding-left: 3%"><strong>Subcontractor Status:</strong></td>
    <td><%= @subcontractor.subcontractor_status.subcontractor_status_description %></td>
  </tr>

  <tr>
    <td><strong>Subcontractor Phone:</strong></td>
    <td width="15%" style="border-right:solid 1px #e0e0e0;"><%= number_to_phone(@subcontractor.subcontractor_phone, area_code: true) %></td>

    <td style="padding-left: 3%"><strong>Subcontractor Email:</strong></td>
    <td><%= @subcontractor.subcontractor_email %></td>
  </tr>


</table>

</br>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  subcontractors_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_subcontractor_path(@subcontractor), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @subcontractor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
