<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job_id  %>
    <%= form.collection_select :job_id, Job.all, :job_id, :job_id, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Job' } %>
  </div>

  <div class="field">
    <%= form.label :task_status_id  %>
    <%= form.collection_select :task_status_id, TaskStatus.all, :task_status_id, :task_status_description, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Status' } %>
  </div>

  <div class="field">
    <%= form.label :task_start_date %>
    <%= form.text_field :task_start_date, id: :task_task_start_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :task_end_date %>
    <%= form.text_field :task_end_date, id: :task_task_end_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :task_description %>
    <%= form.text_area :task_description, id: :task_task_description, required: true %>
  </div>

  <%# adding assignment to task%>
  <div id="assignment">
    <%= form.fields_for :assignments do |assignment| %>
      <%= render 'assignment_fields', f: assignment %>
    <% end %>
    <div class="link">
      <%= link_to_add_association "Add Assignment", form, :assignments %>
    </div>
  </div>

  <%# adding notes to task%>
  <div id="notes">
    <%= form.fields_for :task_notes do |notes| %>
      <%= render 'task_note_fields', f: notes %>
    <% end %>
    <div class="link">
      <%= link_to_add_association "Add Note", form, :task_notes %>
    </div>
  </div>

  <%= button_tag( :class => "btn waves-effect waves-light right") do %>
    Save<i class="material-icons right">save</i>
  <% end %>

<% end %>
