<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job_id  %>
    <%= form.collection_select :job_id, Job.all, :job_id, :job_id ,{prompt: "Select a job"} %>
  </div>

  <div class="field">
    <%= form.label :task_status_id  %>
    <%= form.collection_select :task_status_id, TaskStatus.all, :task_status_id, :task_status_description ,{prompt: "Select a job"} %>
  </div>

  <div class="field">
    <%= form.label :task_start_date %>
    <%= form.date_select :task_start_date, id: :task_task_start_date %>
  </div>

  <div class="field">
    <%= form.label :task_end_date %>
    <%= form.date_select :task_end_date, id: :task_task_end_date %>
  </div>

  <div class="field">
    <%= form.label :task_description %>
    <%= form.text_field :task_description, id: :task_task_description %>
  </div>

  <%# adding notes to task%>
  <div id="notes">
    <%= form.fields_for :task_notes do |notes| %>
      <%= render 'project_note_fields', f: notes %>
    <% end %>
    <div class="link">
      <%= link_to_add_association "Add Note", form, :task_notes %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
