

<h1>Tasks</h1>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Task"), new_task_path, class: "btn waves-effect waves-light right" %> 

<table class="table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :job_job_id) %></th>
      <th><%= sort_link(@search, :task_start_date) %></th>
      <th><%= sort_link(@search, :task_end_date) %></th>
      <th><%= sort_link(@search, :task_description) %></th>
      <th><%= sort_link(@search, :task_status_id) %></th>

    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr data-link=" <%= task_path(task) %>" >
        <td><%= task.job_id %></td>
        <td><%= task.task_start_date %></td>
        <td><%= task.task_end_date %></td>
        <td><%= task.task_description %></td>
        <td><%= task.task_status.task_status_description %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= paginate @tasks %></center>

<style>
  tr{
    cursor: pointer;
    }
</style>
<script>
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
</script>