</br>
<ul class="tabs tabs-fixed-width z-depth-1">
  <li class="tab"><a class="active" href="#task">Task</a></li>
  <li class="tab"><a href="#assignments">Assignments</a></li>
  <li class="tab"><a href="#notes">Notes</a></li>
</ul>
<div id="task">
  <p>
    <strong>Job:</strong>
    <%= @task.job_id %>
  </p>

  <p>
    <strong>Task status:</strong>
    <%= @task.task_status_id %>
  </p>

  <p>
    <strong>Task start date:</strong>
    <%= @task.task_start_date %>
  </p>

  <p>
    <strong>Task end date:</strong>
    <%= @task.task_end_date %>
  </p>

  <p>
    <strong>Task description:</strong>
    <%= @task.task_description %>
  </p>
</div>

<div id="assignments">
  <p>
    <strong>Assignments:</strong></br>
    <% @task.assignments.each do |assignment| %> <%# iterates through each related job to this project%>
      <li><%= link_to assignment.subcontractor.subcontractor_name, assignment %></li>
      <% unless assignment.employee.blank? %>
        <li><%= link_to assignment.employee.first_and_last_name, assignment %></li>
      <% end %>
    <% end %>
  </p>
</div>

<div id="notes">
  <p>
  <strong>Notes:</strong></br>
    <% @task.task_notes.each do |task_note| %> 
      <strong>Made by <%= task_note.task_note_owner %> on <%= task_note.task_note_date %></strong>
      <%= simple_format(task_note.task_notes) %></br>
    <% end %>
  </p>
</div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
