

<p>
  <strong>Job:</strong>
  <%= @task.job_id %>
</p>

<p>
  <strong>Task status:</strong>
  <%= @task.task_status_id %>
</p>

<p>
  <strong>Task start date:</strong>
  <%= @task.task_start_date %>
</p>

<p>
  <strong>Task end date:</strong>
  <%= @task.task_end_date %>
</p>

<p>
  <strong>Task description:</strong>
  <%= @task.task_description %>
</p>

<%# notes of a task%>
<%# find a bettesr styling for this!!!%>
  <strong>Notes:</strong></br>
    <% @task.task_notes.each do |task_note| %> 
      <%= simple_format(task_note.task_notes) %>
  <% end %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
