</br>
<ul class="tabs tabs-fixed-width z-depth-1">
  <li class="tab"><a href="#task">Task</a></li>
  <li class="tab"><a href="#assignments">Assignments</a></li>
  <li class="tab"><a href="#notes">Notes</a></li>
</ul>
<div id="task">

  <h4>Project #<%= @task.job.project.project_and_customer_and_branch %></h4>

  <h5>Job: <%= @task.job.job_type.job_type_description %></h5>

  <table>
    <col width="200">

    <tr>
      <td><strong>Task:</strong></td>
      <td><%= @task.task_description %></td>
    </tr>

    <tr>
      <td><strong>Task Status:</strong></td>
      <td><%= @task.task_status.task_status_description %></td>
    </tr>

    <tr>
      <td><strong>Task Start Date:</strong></td>
      <td><%= @task.try(:task_start_date).try(:strftime, ("%m/%d/%Y")) %></td>
    </tr>

    <tr>
      <td><strong>Task End Date:</strong></td>
      <td><%= @task.try(:task_end_date).try(:strftime, ("%m/%d/%Y")) %></td>
    </tr>

  </table>

</div>

<div id="assignments">

  <h4>Assignments</h4>

  <table>

    <% @task.assignments.each do |assignment| %>
        <tr>
          <td><%= link_to assignment.subcontractor.subcontractor_name, assignment %></td>
        </tr>
        <% unless assignment.employee.blank? %>
        <tr>
              <td><%= link_to assignment.employee.first_and_last_name, assignment %></td>
        </tr>
        <% end %>


    <% end %>

  </table>

</div>

<div id="notes">

  <h4>Notes</h4>

  <table>

    <% @task.task_notes.each do |task_note| %>
      <tr>
        <td><strong>Made by <%= task_note.task_note_owner %> on <%= task_note.try(:task_note_date).try(:strftime, ("%m/%d/%Y")) %>:</strong>
        <%= simple_format(task_note.task_notes) %></td>
        </tr>
    <% end %>
  </table>

</div>

</br>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @task.job, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_task_path(@task), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%= link_to raw("<i class=\"material-icons right\">delete</i>Delete Task"), @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
