

<h1>Task Statuses</h1>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Task Status"), new_task_status_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :task_status_description, "Task Status Description") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_statuses.each do |task_status| %>
      <tr data-link=" <%= task_status_path(task_status) %>" >
        <td><%= task_status.task_status_description %></td>
        <td><%= link_to 'Edit', edit_task_status_path(task_status) %></td>
        <% if user_signed_in? && current_user.admin? %><td><%= link_to 'Delete', task_status,  method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= paginate @task_statuses %></center>
