

<p>
  <strong>Task Status Description:</strong>
  <%= @task_status.task_status_description %>
</p>

<%= link_to 'Edit', edit_task_status_path(@task_status) %> |
<%= link_to 'Back', task_statuses_path %>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  task_statuses_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_task_status_path(@task_status), class: "btn waves-effect waves-light" %> 
<%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @task_status, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %>
