<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id  %>
    <%= form.collection_select :project_id, Project.all, :project_id, :project_id, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Project' } %>
  </div>

  <div class="field">
    <%= form.label :job_type_id %>
    <%= form.collection_select :job_type_id, JobType.all, :job_type_id, :job_type_description, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Type' } %>
  </div>

  <div class="field">
    <%= form.label :job_status_id %>
    <%= form.collection_select :job_status_id, JobStatus.all, :job_status_id, :job_status_description, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Status' } %>
  </div>

  <div class="field">
    <%= form.label :job_start_date %>
    <%= form.text_field :job_start_date, id: :job_job_start_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
  </div>

  <div class="field">
    <%= form.label :job_end_date %>
    <%= form.text_field :job_end_date, id: :job_job_end_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
  </div>

  <%# adding tasks to job%>
  <div id="task">
    <%= form.fields_for :tasks do |task| %>
      <%= render 'task_fields', f: task %>
    <% end %>
    <div class="link">
      <%= link_to_add_association "Add task", form, :tasks %>
    </div>
  </div>

  <%# adding notes to project%>
  <div id="notes">
    <%= form.fields_for :job_notes do |notes| %>
      <%= render 'job_note_fields', f: notes %>
    <% end %>
    <div class="link">
      <%= link_to_add_association "Add Note", form, :job_notes %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
