

<h1>Jobs</h1>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Job"), new_job_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :project_id) %></th>
      <th><%= sort_link(@search, :project_customer_id) %></th>
      <th><%= sort_link(@search, :project_customer_customer_branch, "Branch") %></th>
      <th><%= sort_link(@search, :job_type_id) %></th>
      <th><%= sort_link(@search, :job_start_date) %></th>
      <th><%= sort_link(@search, :job_end_date) %></th>
      <th><%= sort_link(@search, :job_status_id) %></th>

    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr data-link=" <%= job_path(job) %>" >
        <td><%= job.project_id %></td>
        <td><%= job.project.customer.customer_name %></td>
        <td><%= job.project.customer.customer_branch %></td>
        <td><%= job.job_type.job_type_description %></td>
        <td><%= job.job_start_date %></td>
        <td><%= job.job_end_date %></td>
        <td><%= job.job_status.job_status_description %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<style>
  tr{
    cursor: pointer;
    }
</style>
<script>
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
</script>