
</br>
<ul class="tabs tabs-fixed-width z-depth-1">
  <li class="tab"><a class="active" href="#job">Job</a></li>
  <li class="tab"><a href="#task">Tasks</a></li>
  <li class="tab"><a href="#notes">Notes</a></li>
</ul>
<div id="job">
  <p>
    <strong>Customer:</strong>
    #<%= @job.project.project_and_customer_and_branch %>
  </p>

  <p>
    <strong>Job type:</strong>
    <%= @job.job_type.job_type_description  %>
  </p>

  <p>
    <strong>Job status:</strong>
    <%= @job.job_status.job_status_description %>
  </p>

  <p>
    <strong>Job start date:</strong>
    <%= @job.job_start_date %>
  </p>

  <p>
    <strong>Job end date:</strong>
    <%= @job.job_end_date %>
  </p>
</div>
<%# tasks of job %>
<div id="task">
  <p>
    <strong>Tasks:</strong> </br>
    <% @job.tasks.each do |task| %> <%# iterates through each related task to this job%>
      <li><%= link_to task.task_description, task %></li>
    <% end %>
  <p>
</div>
<%# notes of job %>
<div id="notes">
  <p>
    <strong>Notes:</strong></br>
    <% @job.job_notes.each do |job_note| %> 
        <strong>Made by <%= job_note.job_note_owner %> on <%= job_note.job_note_date %>:</strong>
        <%= simple_format(job_note.job_notes) %></br></br>
    <% end %>
  </p>
</div>

</br>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', @job.project %>
