
</br>
<ul class="tabs tabs-fixed-width z-depth-1">
  <li class="tab"><a href="#job">Job</a></li>
  <li class="tab"><a href="#task">Tasks</a></li>
  <li class="tab"><a href="#notes">Notes</a></li>
</ul>
<div id="job">
  <p>
    <strong>Project:</strong>
    #<%= @job.project.project_and_customer_and_branch %>
  </p>

  <p>
    <strong>Job Type:</strong>
    <%= @job.job_type.job_type_description  %>
  </p>

  <p>
    <strong>Job Status:</strong>
    <%= @job.job_status.job_status_description %>
  </p>
  
  <p>
    <strong>Job Start Date:</strong>
    <%= @job.try(:job_start_date).try(:strftime, ("%m/%d/%Y")) %>
  </p>

  <p>
    <strong>Job End Date:</strong>
    <%= @job.try(:job_end_date).try(:strftime, ("%m/%d/%Y")) %>
  </p>
</div>
<%# tasks of job %>
<div id="task">
  <p>
    <strong>Tasks:</strong> </br>
    <ol>
    <% @job.tasks.each do |task| %> <%# iterates through each related task to this job%>
      <li><%= link_to task.task_description, task %></li>
    <% end %>
    </ol>
  <p>
</div>
<%# notes of job %>
<div id="notes">
  <p>
    <strong>Notes:</strong></br>
    <% @job.job_notes.each do |job_note| %> 
        <strong>Made by <%= job_note.job_note_owner %> on <%= job_note.try(:job_note_date).try(:strftime, ("%m/%d/%Y")) %>:</strong>
        <%= simple_format(job_note.job_notes) %></br></br>
    <% end %>
  </p>
</div>

</br>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @job.project, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_job_path(@job), class: "btn waves-effect waves-light" %> 
<%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %>
