<%= form_with(model: projecttype, local: true) do |form| %>
  <% if projecttype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projecttype.errors.count, "error") %> prohibited this projecttype from being saved:</h2>

      <ul>
      <% projecttype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_type_description %>
    <%= form.text_field :project_type_description, id: :projecttype_project_type_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
