<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
    <div class="field col l3">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field col l3">
      <%= form.label :password, "New Password" %>
      <%= form.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="field col l3">
      <%= form.label :email %><br />
      <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field col l3">
      <%= form.label :password_confirmation, "Confirm Password"  %><br />
      <%= form.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
  <% if user_signed_in? && current_user.admin? %>
    <div class="field col l3">
      <%= form.label "admin" %>
      <%= form.select :admin, ['false', 'true'] %>
    </div>
  <% end %>
  </div>


  <div class="row">
    <div class="field col l3">
      <%= form.label :current_password, "Current Password" %>
      <%= form.password_field :current_password, autocomplete: "off" %>
    </div>
  </div>

  

  <%= button_tag( :class => "btn waves-effect waves-light right") do %>
    Save<i class="material-icons right">save</i>
  <% end %>

<% end %>

<script>
$(document).ready(function(){
    $('select').formSelect();
  });
</script>