

<h1>States</h1>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New State"), new_state_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :state_name) %></th>
      <th><%= sort_link(@search, :state_abbrev) %></th>

    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr data-link=" <%= state_path(state) %>" >
        <td><%= state.state_name %></td>
        <td><%= state.state_abbrev %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<style>
  tr{
    cursor: pointer;
    }
</style>
<script>
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
</script>