<%= form_with(model: task_note, local: true) do |form| %>
  <% if task_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_note.errors.count, "error") %> prohibited this task_note from being saved:</h2>

      <ul>
      <% task_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.number_field :task_id, id: :task_note_task_id %>
  </div>

  <div class="field">
    <%= form.label :task_notes %>
    <%= form.text_area :task_notes, id: :task_note_task_notes %>
  </div>

  <div class="field">
    <%= form.label :task_note_owner %>
    <%= form.text_field :task_note_owner, id: :task_note_task_note_owner %>
  </div>

  <div class="field">
    <%= form.label :task_note_date %>
    <%= form.text_field :task_note_date, id: :task_note_task_note_date, placeholder: "YYYY-MM-DD", :class => 'datepicker', :value => task_note.task_note_date || Date.today.strftime('%Y-%m-%d') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
