

<p>
  <strong>Project:</strong>
  #<%= @task_note.task.job.project.project_and_customer_and_branch %>
</p>

<p>
  <strong>Job:</strong>
  <%= @task_note.task.job.job_type.job_type_description %>
</p>

<p>
  <strong>Task:</strong>
  <%= @task_note.task.task_description %> <%= @task_note.task.job.job_type.job_type_description %>
</p>

<p>
  <strong>Task Note Owner:</strong>
  <%= @task_note.task_note_owner %>
</p>

<p>
  <strong>Task Note Date:</strong>
  <%= @task_note.task_note_date %>
</p>

<p>
  <strong>Task Notes:</strong>
  <%= @task_note.task_notes %>
</p>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  task_notes_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_task_note_path(@task_note), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @task_note, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
