<p id="notice"><%= notice %></p>

<h1>Projectstatuses</h1>

<table>
  <thead>
    <tr>
      <th>Project status description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projectstatuses.each do |projectstatus| %>
      <tr>
        <td><%= projectstatus.project_status_description %></td>
        <td><%= link_to 'Show', projectstatus %></td>
        <td><%= link_to 'Edit', edit_projectstatus_path(projectstatus) %></td>
        <td><%= link_to 'Destroy', projectstatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projectstatus', new_projectstatus_path %>
