<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation" xmlns: xmlns: xmlns:>
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <body>
  <div>
    <h2 class="center-align" >New Customer</h2>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <%= form.label :Name %>
          <%= form.text_field :customer_name, id: :customer_customer_name %>
        </div>

        <div class="input-field col s4">
          <%= form.label :Branch %>
          <%= form.text_field :customer_branch, id: :customer_customer_branch %>
        </div>

        <div class="input-field col s4">
          <%= form.label :customer_status_id %>
          <%= form.collection_select :customer_status_id, CustomerStatus.all, :customer_status_id, :customer_status_description, {:prompt => true}, {:class => 'browser-default', :selected => 1, "data-placeholder" => 'Status'} %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.label :Street %>
          <%= form.text_field :customer_address_1, id: :customer_customer_address_1 %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s8">
          <%= form.label :CITY_AND_ZIP %>
          <%= form.text_field :customer_address_2, id: :customer_customer_address_2 %>
        </div>

        <div class="input-field col s4">
          <%= form.label :state_id %>
          <%= form.collection_select :state_id, State.all, :state_id, :state_name, {:prompt => true}, {:class => 'browser-default', :selected => 1, "data-placeholder" => 'State'} %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <%= form.label :First_Representative %>
          <%= form.text_field :customer_rep_name_1, id: :customer_customer_rep_name_1 %>
        </div>

        <div class="input-field col s6">
          <%= form.label :Phone %>
          <%= form.text_field :customer_rep_phone_1, id: :customer_customer_rep_phone_1 %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.label :Email %>
          <%= form.text_field :customer_rep_email_1, id: :customer_customer_rep_email_1 %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <%= form.label :Second_Representative %>
          <%= form.text_field :customer_rep_name_2, id: :customer_customer_rep_name_2 %>
        </div>

        <div class="input-field col s6">
          <%= form.label :Phone %>
          <%= form.text_field :customer_rep_phone_2, id: :customer_customer_rep_phone_2 %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.label :Email %>
          <%= form.text_field :customer_rep_email_2, id: :customer_customer_rep_email_2 %>
        </div>
      </div>
    </form>
  </div>
  </body>


  <div class="right-align">
  <button class="btn waves-effect waves-light" type="submit" name="action">
    <%= form.submit %>
    <i class="material-icons right">person_add</i>
  </button>

    <button class="btn waves-effect waves-light" type="add_new" name="action">
      <%= link_to 'CANCEL', customers_path %>
      <i class="material-icons right">cancel</i>
    </button>
  </div>


  <br>
<% end %>
