<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation" xmlns: xmlns: xmlns:>
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row"><%# row 1%>
      <div class="input col s4">
        <%= form.label :Name %>
        <%= form.text_field :customer_name, id: :customer_customer_name, required: true %>
      </div>
      <div class="input col s4">
        <%= form.label :Branch %>
        <%= form.text_field :customer_branch, id: :customer_customer_branch %>
      </div>
      <div class="input col s4">
        <%= form.label :customer_status_id %>
        <%= form.collection_select :customer_status_id, CustomerStatus.all, :customer_status_id, :customer_status_description, {:prompt => true}, {:class => 'select2', :selected => 1, "data-placeholder" => 'Status'} %>
      </div>
    </div><%# row 1 end%>

    <div class="row"> <%# row 2%>
      <div class="input col s4">
        <%= form.label :customer_address_1,"Street Address" %>
        <%= form.text_field :customer_address_1, id: :customer_customer_address_1 %>
      </div>
      <div class="input col s2">
        <%= form.label :customer_address_2, "Suite or Apartment #" %>
        <%= form.text_field :customer_address_2, id: :customer_customer_address_2 %>
      </div>
      <div class="input col s2">
        <%= form.label :customer_city, "City" %>
        <%= form.text_field :customer_city, id: :customer_customer_city %>
      </div>
      <div class="input col s2">
        <%= form.label :state_id %>
        <%= form.collection_select :state_id, State.all, :state_id, :state_name, {:prompt => true}, {:class => 'select2', :selected => 1, "data-placeholder" => 'State'} %>
      </div>
      <div class="input col s2">
        <%= form.label :customer_zipcode, "Zipcode" %>
        <%= form.text_field :customer_zipcode, id: :customer_customer_zipcode %>
      </div>
    </div><%# row 2 end%>

    <div class="row"><%# row 3%> 
      <div class="input col s4">

        <%= form.label :customer_rep_name_1, "First Representative Name" %>
        <%= form.text_field :customer_rep_name_1, id: :customer_customer_rep_name_1, required: true %>
      </div>
      <div class="input col s4">
        <%= form.label :customer_rep_phone_1, "First Representative Phone" %>
        <%= form.text_field :customer_rep_phone_1, id: :customer_customer_rep_phone_1 %>
      </div>
      <div class="input col s4">
        <%= form.label :customer_rep_email_1, "First Representative Email" %>
        <%= form.text_field :customer_rep_email_1, id: :customer_customer_rep_email_1, type: "email" %>
      </div>
    </div> <%# row3 end %>
    
    <div class="row"> <%# row 4 end %>
      <div class="input col s4">
        <%= form.label :customer_rep_name_2, "Second Representative Name" %>
        <%= form.text_field :customer_rep_name_2, id: :customer_customer_rep_name_2 %>
      </div>
      <div class="input col s4">
        <%= form.label :customer_rep_phone_2, "Second Representative Phone" %>
        <%= form.text_field :customer_rep_phone_2, id: :customer_customer_rep_phone_2 %>
      </div>
      <div class="input col s4">
        <%= form.label :customer_rep_email_2, "Second Representative Email" %>
        <%= form.text_field :customer_rep_email_2, id: :customer_customer_rep_email_2, type: "email" %>
      </div>
    </div> <%# row 4 end %>

<%= button_tag( :class => "btn waves-effect waves-light right") do %>
  Save<i class="material-icons right">save</i>
<% end %>

<% end %>
