

<body>
<div>
  <h1>Customers</h1>
</div>

  <%# button to open up the modal at bottom which has filter options%> 
  <a class="waves-effect waves-light btn modal-trigger" href="#filter"><i class="material-icons right">filter_list</i>filter</a>

  <%# filter modal at bottom for filtering options %>
  <div id="filter" class="modal bottom-sheet"><%# start modal %>
    <div class="modal-content">
      <h4>Filters</h4>
      <%# using ransack to search for these inputs%>
      <%= search_form_for @search, url: search_customers_path, html: { method: :post } do |f| %>
        <div class="row">
          <div class="field col s2">
            <%= f.label :customer_status_id %>
            <%= f.collection_select :customer_status_id_eq, CustomerStatus.all, :customer_status_id, :customer_status_description, {:prompt => true}, {:selected => 1, "data-placeholder" => 'Select a Status' } %>
          </div>
          <div class="field col s2">
            <%= f.label :state_id %>
            <%= f.collection_select :state_id_eq, State.all, :state_id, :state_name, {:prompt => true}, {:selected => 1, "data-placeholder" => 'Select a State' } %>
          </div>
        </div>
        <%= f.submit 'Apply', class: "btn" %>
      <% end %>
    </div>
  </div> <%# end filter modal %>

  <%# button to open up the modal at bottom which has search %> 
  <a class="waves-effect waves-light btn modal-trigger" href="#search"><i class="material-icons right">search</i>search</a>

  <%# search modal at bottom for search %>
  <div id="search" class="modal bottom-sheet"><%# start modal %>
    <div class="modal-content">
      <h4>Search</h4>
      <%# using ransack to search for these inputs%>
      <%= search_form_for @search, url: search_customers_path, html: { method: :post } do |f| %>
        <div class="row">
          <div class="field col s6">
            <%= f.label :customer_id %>
            <%= f.text_field :customer_name_cont %>
          </div>
        </div>
        <%= f.submit 'Search', class: "btn" %>
      <% end %>
    </div>
  </div> <%# end search modal %>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Customer"), new_customer_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table">
  <thead>
    <tr>
      <th><%= sort_link(@search, :customer_name, "Name") %></th>
      <th><%= sort_link(@search, :customer_branch, "Branch") %></th>
      <th><%= sort_link(@search, :customer_address_1, "Address") %></th>
      <th><%= sort_link(@search, :customer_status_id, "Status") %></th>
      
      <% comment do %>these are unused in the index page. just here for easy access if needed
      <th>State</th>
      <th>Customer address 2</th>
      <th>Customer rep name 1</th>
      <th>Customer rep name 2</th>
      <th>Customer rep phone 1</th>
      <th>Customer rep phone 2</th>
      <th>Customer rep email 1</th>
      <th>Customer rep email 2</th>
      <% comment end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_name %></td>
        <td><%= customer.customer_branch %></td>
        <td><%= customer.customer_address_1 %></td>
        <td><%= customer.customer_status.customer_status_description %></td>


        <% comment do %>these are unused in the index page. just here for easy access if needed
        <td><%= customer.customer_address_2 %></td>
        <td><%= customer.customer_city %></td>
        <td><%= customer.state.state_name %></td>
        <td><%= customer.customer_zipcode %></td>
        <td><%= customer.customer_rep_name_1 %></td>
        <td><%= customer.customer_rep_name_2 %></td>
        <td><%= number_to_phone(customer.customer_rep_phone_1, area_code: true) %></td>
        <td><%= number_to_phone(customer.customer_rep_phone_2, area_code: true) %></td>
        <td><%= customer.customer_rep_email_1 %></td>
        <td><%= customer.customer_rep_name_2 %></td>
        <td><%= customer.customer_rep_phone_2 %></td>
        <td><%= customer.customer_rep_email_2 %></td>

        <% comment end %>

        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
    $('select').formSelect();
</script>