<p id="notice"><%= notice %></p>

<h1>Customers</h1>

  <%# button to open up the modal at bottom which has filter options%> 
  <a class="waves-effect waves-light btn modal-trigger" href="#filter">  <i class="material-icons">filter_list</i></a>

  <%# filter modal at bottom for filtering options %>
  <div id="filter" class="modal bottom-sheet"><%# start modal %>
    <div class="modal-content">
      <h4>Filters</h4>
      <%# using ransack to search for these inputs%>
      <%= search_form_for @search, url: search_customers_path, html: { method: :post } do |f| %>
        <div class="row">
          <div class="field col s2">
            <%= f.collection_select :customer_status_id_eq, CustomerStatus.all, :customer_status_id, :customer_status_description, {:prompt => true}, { :class => 'browser-default', :selected => 1, "data-placeholder" => 'Select a Status' } %>
          </div>
          <div class="field col s2">
            <%= f.collection_select :state_id_eq, State.all, :state_id, :state_name, {:prompt => true}, { :class => 'browser-default', :selected => 1, "data-placeholder" => 'Select a State' } %>
          </div>
        </div>
        <%= f.submit 'Apply', class: "btn" %>
      <% end %>
    </div>
  </div> <%# end filter modal %>

<table class="responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Branch</th>
      <th>Status</th>
      <th>Address</th>
      
      <% comment do %>these are unused in the index page. just here for easy access if needed
      <th>State</th>
      <th>Customer address 2</th>
      <th>Customer rep name 1</th>
      <th>Customer rep name 2</th>
      <th>Customer rep phone 1</th>
      <th>Customer rep phone 2</th>
      <th>Customer rep email 1</th>
      <th>Customer rep email 2</th>
      <% comment end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_name %></td>
        <td><%= customer.customer_branch %></td>
        <td><%= customer.customer_status.customer_status_description %></td>
        <td><%= customer.customer_address_1 %></td>


        <% comment do %>these are unused in the index page. just here for easy access if needed
        <td><%= customer.customer_address_2 %></td>
        <td><%= customer.customer_rep_name_1 %></td>
        <td><%= customer.customer_rep_name_2 %></td>
        <td><%= customer.customer_rep_phone_1 %></td>
        <td><%= customer.customer_rep_phone_2 %></td>
        <td><%= customer.customer_rep_email_1 %></td>
        <td><%= customer.customer_rep_email_2 %></td>
        <% comment end %>

        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
