<h3><%= @customer.customer_name %> <%= @customer.customer_branch %></h3>

<table width="100%">


  <tr>
    <td width="25%"><strong>Status:</strong></td>
    <td><%= @customer.customer_status.customer_status_description %></td>
  </tr>

  <tr>
    <td><strong>Street Address:</strong></td>
    <td><%= @customer.customer_address_1 %></td>
  </tr>

  <tr>
    <td><strong>Suite #:</strong></td>
    <td><%= @customer.customer_address_2 %></td>
  </tr>

  <tr>
    <td><strong>City:</strong></td>
    <td><%= @customer.customer_city %></td>
  </tr>

  <tr>
    <td><strong>State:</strong></td>
    <td><%= @customer.state.try(:state_name) %></td>
  </tr>

  <tr>
    <td><strong>Zipcode:</strong></td>
    <td><%= @customer.customer_zipcode %></td>

    <td></td>
    <td></td>
  </tr>

  <tr>
    <td><strong>First Representative Name:</strong></td>
    <td width="15%" style="border-right:solid 1px #e0e0e0;"><%= @customer.customer_rep_name_1 %></td>

    <td width=30%" style="padding-left: 3%"><strong>Second Representative Name:</strong></td>
    <td><%= @customer.customer_rep_name_2 %></td>
  </tr>

  <tr>
    <td><strong>First Representative Phone:</strong></td>
  <td width="15%" style="border-right:solid 1px #e0e0e0;"><%= number_to_phone(@customer.customer_rep_phone_1, area_code: true) %></td>

    <td style="padding-left: 3%"><strong>Second Representative Phone:</strong></td>
    <td><%= number_to_phone(@customer.customer_rep_phone_2, area_code: true) %></td>
  </tr>

  <tr>
    <td><strong>First Representative Email:</strong></td>
    <td width="15%" style="border-right:solid 1px #e0e0e0; padding-right: 3%"><%= @customer.customer_rep_email_1 %></td>

    <td style="padding-left: 3%"><strong>Second Representative Email:</strong></td>
    <td><%= @customer.customer_rep_email_2 %></td>
  </tr>


</table>

<br>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  customers_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_customer_path(@customer), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
