

<p>
  <strong>Customer name:</strong>
  <%= @customer.customer_name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @customer.customer_branch %>
</p>

<p>
  <strong>Dtatus:</strong>
  <%= @customer.customer_status.customer_status_description %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @customer.customer_address_1 %>
</p>

<p>
  <strong>Suite #:</strong>
  <%= @customer.customer_address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.customer_city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state.try(:state_name) %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @customer.customer_zipcode %>
</p>

<p>
  <strong>First Representative Name:</strong>
  <%= @customer.customer_rep_name_1 %>
</p>

<p>
  <strong>First Representative Phone:</strong>
  <%= number_to_phone(@customer.customer_rep_phone_1, area_code: true) %>
</p>

<p>
  <strong>First Representative Email:</strong>
  <%= @customer.customer_rep_email_1 %>
</p>

<p>
  <strong>Second Representative Name:</strong>
  <%= @customer.customer_rep_name_2 %>
</p>

<p>
  <strong>Second Representative Phone:</strong>
  <%= number_to_phone(@customer.customer_rep_phone_2, area_code: true) %>
</p>

<p>
  <strong>Second Representative Email:</strong>
  <%= @customer.customer_rep_email_2 %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
