<h1>Admin Panel</h1>

<table>
  <tr>
    <td><%= link_to 'Employees', employees_path %></td>
  </tr>

  <tr>
    <td><%= link_to 'Employee Accounts', users_path %></td>
  </tr>

  <tr>
    <td><%= link_to 'Employee Statuses', employee_statuses_path %></td>
  </tr>

  <tr>
    <td><%= link_to 'Employee Types', employee_types_path %></td>
  </tr>

  <tr>
    <td style="padding-top: 5%"><%= link_to 'Customer Statuses', customer_statuses_path %></td>
  </tr>

  <tr>
    <td><%= link_to 'Subcontractor Statuses', subcontractor_statuses_path %></td>
  </tr>

  <tr>
    <td><%= link_to 'Project Statuses', project_statuses_path %></td>
  </tr>

  <tr>
    <td><%= link_to 'Project Types', project_types_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'Job Statuses', job_statuses_path %></td>
  </tr>

  <tr>
    <td><%= link_to 'Job Types', job_types_path %></td>
  </tr>

  <tr>
    <td><%= link_to 'Task Statuses', task_statuses_path %></td>
  </tr>

  <tr>
    <td  style="padding-top: 5%"><%= link_to 'States', states_path %></td>
  </tr>

</table>