<h1>Admin Panel</h1>

<%= link_to 'Project Statuses', project_statuses_path %> </br>
<%= link_to 'Job Statuses', job_statuses_path %> </br>
<%= link_to 'Task Statuses', task_statuses_path %> </br>
<%= link_to 'Project Types', project_types_path %> </br>
<%= link_to 'Job Types', job_types_path %> </br></br>

<%= link_to 'Subcontractor Statuses', employee_statuses_path %> </br>
<%= link_to 'Customer Statuses', employee_statuses_path %> </br>
<%= link_to 'Employee Statuses', employee_statuses_path %> </br>
<%= link_to 'Employee Types', employee_types_path %> </br></br>
<%= link_to 'Employees', employees_path %> </br></br>

<%= link_to 'States', states_path %> </br>