<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id  %>
    <%= form.collection_select :customer_id, Customer.all, :customer_id, :customer_name ,{prompt: "Select a status"}%>
  </div>

  <div class="field">
    <%= form.label :project_status_id  %>
    <%= form.collection_select :project_status_id, Project.all, :project_status_id, :project_status_description ,{prompt: "Select a status"}%>
  </div>

   <div class="field">
    <%= form.label :project_type_id  %>
    <%= form.collection_select :project_type_id, ProjectType.all, :project_type_id, :project_type_description ,{prompt: "Select a status"}%>
  </div>

  <div class="field">
    <%= form.label :project_start_date %>
    <%= form.date_select :project_start_date, id: :project_project_start_date %>
  </div>

  <div class="field">
    <%= form.label :project_end_date %>
    <%= form.date_select :project_end_date, id: :project_project_end_date %>
  </div>

  <div class="field">
    <%= form.label :bid_submit_date %>
    <%= form.date_select :bid_submit_date, id: :project_bid_submit_date %>
  </div>

  <div class="field">
    <%= form.label :bid_material_cost %>
    <%= form.text_field :bid_material_cost, id: :project_bid_material_cost %>
  </div>

  <div class="field">
    <%= form.label :bid_cost_of_labor_decimal %>
    <%= form.text_field :bid_cost_of_labor_decimal, id: :project_bid_cost_of_labor_decimal %>
  </div>

  <div class="field">
    <%= form.label :bid_cost_of_permits %>
    <%= form.text_field :bid_cost_of_permits, id: :project_bid_cost_of_permits %>
  </div>

  <div class="field">
    <%= form.label :bid_equipment_rental %>
    <%= form.text_field :bid_equipment_rental, id: :project_bid_equipment_rental %>
  </div>

  <div class="field">
    <%= form.label :bid_freight_decimal %>
    <%= form.text_field :bid_freight_decimal, id: :project_bid_freight_decimal %>
  </div>

  <div class="field">
    <%= form.label :tax_rate %>
    <%= form.text_field :tax_rate, id: :project_tax_rate %>
  </div>

  <div class="field">
    <%= form.label :bid_amount %>
    <%= form.text_field :bid_amount, id: :project_bid_amount %>
  </div>
  
  <%# adding jobs to project%>
  <div id="jobs">
    <%= form.fields_for :jobs do |job| %>
      <%= render 'job_fields', f: job %>
    <% end %>
    <div class="link">
      <%= link_to_add_association "Add job", form, :jobs %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
