<h1>New Project</h1>


<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <ul id="tabs-new-project" class="tabs">
      <li class="tab col s3"><a class="active" href="#swipe-1">Project</a></li>
      <li class="tab col s3"><a href="#swipe-2">Customer</a></li>
      <li class="tab col s3"><a href="#swipe-3">Job</a></li>
      <li class="tab col s3"><a href="#swipe-4">Material</a></li>
      <li class="tab col s3"><a href="#swipe-5">Rentals</a></li>
      <li class="tab col s3"><a href="#swipe-6">Notes</a></li>
    </ul>


    <div class="row">
      <div id="swipe-1" class="col s12">
        <div class="field col s4">
          <%= form.label :project_status_id %>
          <%= form.collection_select :project_status_id, ProjectStatus.all, :project_status_id, :project_status_description, {:prompt => true}, {:class => 'browser-default', :selected => 1, "data-placeholder" => 'Select a Status'} %>
        </div>

        <div class="field col s4">
          <%= form.label :project_type_id %>
          <%= form.collection_select :project_type_id, ProjectType.all, :project_type_id, :project_type_description, {:prompt => true}, {:class => 'browser-default', :selected => 1, "data-placeholder" => 'Select a Type'} %>
        </div>

        <div class="field col s4">
          <%= form.label :project_start_date %>
          <%= form.text_field :project_start_date, id: :project_project_start_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="field col s4">
      <%= form.label :project_end_date %>
      <%= form.text_field :project_end_date, id: :project_project_end_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
    </div>

    <div class="field col s4">
      <%= form.label :bid_submit_date %>
      <%= form.text_field :bid_submit_date, id: :project_bid_submit_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
    </div>

    <div class="field col s4">
      <%= form.label :bid_material_cost %>
      <%= form.text_field :bid_material_cost, id: :project_bid_material_cost %>
    </div>
  </div>

  <div class="field">
    <%= form.label :bid_cost_of_labor %>
    <%= form.text_field :bid_cost_of_labor, id: :project_bid_cost_of_labor %>
  </div>

  <div class="field">
    <%= form.label :bid_cost_of_permits %>
    <%= form.text_field :bid_cost_of_permits, id: :project_bid_cost_of_permits %>
  </div>

  <div class="field">
    <%= form.label :bid_equipment_rental %>
    <%= form.text_field :bid_equipment_rental, id: :project_bid_equipment_rental %>
  </div>

  <div class="field">
    <%= form.label :bid_freight %>
    <%= form.text_field :bid_freight, id: :project_bid_freight %>
  </div>

  <div class="field">
    <%= form.label :tax_rate %>
    <%= form.text_field :tax_rate, id: :project_tax_rate %>
  </div>

  <div class="field">
    <%= form.label :bid_amount %>
    <%= form.text_field :bid_amount, id: :project_bid_amount %>
  </div>

  <div class="field">
    <%= form.label :bid_fuel_cost %>
    <%= form.text_field :bid_fuel_cost, id: :project_bid_fuel_cost %>
  </div>

  <div class="field">
    <%= form.label :bid_lodging_cost %>
    <%= form.text_field :bid_lodging_cost, id: :project_bid_lodging_cost %>
  </div>
  </div>


  <div id="swipe-2" class="col s12">
    <div class="field">
      <%= form.label :customer_id %>
      <%= form.collection_select :customer_id, Customer.all, :customer_id, :customer_name, {:prompt => true}, {:class => 'browser-default', :selected => 1, "data-placeholder" => 'Select a ustomer'} %>
    </div>
  </div>


  <div id="swipe-3" class="col s12">
    <div id="jobs">
      <%= form.fields_for :jobs do |job| %>
        <%= render 'job_fields', f: job %>
      <% end %>
      <div class="link">
        <%= link_to_add_association "Add Job", form, :jobs %>
      </div>
    </div>
  </div>

  <div id="swipe-4" class="col s12">
    <div id="material_lists">
      <%= form.fields_for :material_lists do |material_list| %>
        <%= render 'material_list_fields', f: material_list %>
      <% end %>
      <div class="link">
        <%= link_to_add_association "Add Material", form, :material_lists %>
      </div>
    </div>
  </div>


  <div id="swipe-5" class="col s12">
    <div id="rental_lists">
      <%= form.fields_for :rental_lists do |rental_list| %>
        <%= render 'rental_list_fields', f: rental_list %>
      <% end %>
      <div class="link">
        <%= link_to_add_association "Add Rental Equipment", form, :rental_lists %>
      </div>
    </div>
  </div>

  <div id="swipe-6" class="col s12">
    <div id="notes">
      <%= form.fields_for :project_notes do |notes| %>
        <%= render 'project_note_fields', f: notes %>
      <% end %>
      <div class="link">
        <%= link_to_add_association "Add Note", form, :project_notes %>
      </div>
    </div>
  </div>












  <%# adding jobs to project%>


  <%# adding materials to project%>


  <%# adding rental equipment to project%>


  <%# adding notes to project%>


  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
