<%# these fields are added as a nested thinform to project form%>
<div id = nested-fields class="nested-fields">
  <p>
  <div class="row">
    <div class="field">
      <%= f.label :project_notes %>
      <%= f.text_area :project_notes, id: :project_note_project_notes %>
    </div>
  </div>

  <div class="row">
    <div class="field col s2">
      <%= f.label :project_note_date %>
      <%= f.text_field :project_note_date, id: :project_note_project_note_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
    </div>
  
    <div class="field col s2">
      <%= f.label :project_note_owner %>
      <%= f.text_field :project_note_owner, id: :project_note_project_note_owner %>
    </div>
  </div>
  <%= link_to_remove_association raw("<i class=\"material-icons right\">remove_circle</i>Remove Note"), f, class: "btn waves-effect waves-light red" %> 
  </p>
  <hr>
</div>