<%# these fields are added as a nested form to project form%>
<div id = task-fields class="task-fields" >
  <div class="row">
    <div class="field col s4">
      <%= f.label :task_status_id %>
      <%= f.collection_select :task_status_id, TaskStatus.all, :task_status_id, :task_status_description, {:prompt => true}, {:class => 'select2', :selected => 1, "data-placeholder" => 'Select a Status'}%>
    </div>
  </div>

  <div class="row">
    <div class="field col s2">
      <%= f.label :task_start_date %>
      <%= f.text_field :task_start_date, id: :task_task_start_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
    </div>
    <div class="field col s2">
      <%= f.label :task_end_date %>
      <%= f.text_field :task_end_date, id: :task_task_end_date, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
    </div>
  </div>

  <div class="row">
    <div class="field col s4">
      <%= f.label :task_description %>
      <%= f.text_field :task_description, id: :task_task_description %>
    </div>
  </div>

  <%= link_to_remove_association raw("<i class=\"material-icons right\">remove_circle</i>Remove Task"), f, wrapper_class: "task-fields", class: "btn waves-effect waves-light" %> 
</div>