

<div>
  <h1>Projects</h1>
</div>

  <%# button to open up the modal at bottom which has filter options%> 
  <a class="waves-effect waves-light btn modal-trigger" href="#filter"><i class="material-icons right">filter_list</i>filter</a>

  <%# filter modal at bottom for filtering options %>
  <div id="filter" class="modal bottom-sheet"><%# start modal %>
    <div class="modal-content">
      <h4>Filters</h4>
      <%# using ransack to search for these inputs%>
      <%= search_form_for @search, url: search_projects_path, html: { method: :post } do |f| %>
        <div class="row">
          <div class="field col l2">
            <%= f.label :project_status_id %>
            <%= f.collection_select :project_status_id_eq, ProjectStatus.all, :project_status_id, :project_status_description, {:prompt => true}, {:class => "select2", :selected => 1, "data-placeholder" => 'Select a Status' }%>
          </div>
          <div class="field col l2">
            <%= f.label :project_type_id %>
            <%= f.collection_select :project_type_id_eq, ProjectType.all, :project_type_id, :project_type_description, {:prompt => true}, {:class => "select2", :selected => 1, "data-placeholder" => 'Select a Type' } %>
          </div>
          <div class="field col l2">
            <%= f.label :bid_amount_gteq, "Minimum bid amount" %>
            <%= f.text_field :bid_amount_gteq, id: :project_bid_amount %>
          </div>
          <div class="field col l2">
            <%= f.label :bid_amount_lteq, "Maximum bid amount" %>
            <%= f.text_field :bid_amount_lteq, id: :project_bid_amount %>
          </div>
        </div>
        <div class="row">
          <div class="field col l2">
            <%= f.label :project_start_date_gteq, "Minimum start date" %>
            <%= f.text_field :project_start_date_gteq, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
          </div>
          <div class="field col s2">
            <%= f.label :project_end_date_lteq, "Maximum end date" %>
            <%= f.text_field :project_end_date_lteq, placeholder: "YYYY-MM-DD", :class => 'datepicker' %>
          </div>
        </div>

        <%= f.submit 'Apply', class: "btn" %>
      <% end %>
    </div>
  </div> <%# end filter modal %>

  <%# button to open up the modal at bottom which has search %> 
  <a class="waves-effect waves-light btn modal-trigger" href="#search"><i class="material-icons right">search</i>search</a>

  <%# search modal at bottom for search %>
  <div id="search" class="modal bottom-sheet"><%# start modal %>
    <div class="modal-content">
      <h4>Search</h4>
      <%# using ransack to search for these inputs%>
      <%= search_form_for @search, url: search_projects_path, html: { method: :post } do |f| %>
        <div class="row">
          <div class="field col s6">
            <%= f.text_field :customer_customer_name_or_customer_customer_branch_or_project_type_project_type_description_or_project_status_project_status_description_cont %>
          </div>
        </div>
        <%= f.submit 'Search', class: "btn" %>
      <% end %>
    </div>
  </div> <%# end modal %>


<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Project"), new_project_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :project_id) %></th>
      <th><%= sort_link(@search, :customer_id) %></th>
      <th><%= sort_link(@search, :customer_customer_branch, "Branch") %></th> <%# fix this %>
      <th><%= sort_link(@search, :project_type_project_type_description, "Type") %></th>
      <th><%= sort_link(@search, :project_start_date, "Start Date") %></th>
      <th><%= sort_link(@search, :project_end_date, "End Date") %></th>
      <th><%= sort_link(@search, :bid_amount) %></th>
      <th><%= sort_link(@search, :project_status_project_status_description, "Status") %></th>

      <% comment do %> these are unused in the index page. just here for easy access if needed
      <th>Bid submit date</th>
      <th>Bid material cost</th>
      <th>Bid cost of labor</th>
      <th>Bid cost of permits</th>
      <th>Bid equipment rental</th>
      <th>Bid freight</th>
      <th>Applicable tax</th>
      <th>Bid fuel cost</th>
      <th>Bid lodging cost</th>
      <th>Bid amount</th>
      <% comment end %>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr data-link=" <%= project_path(project) %>" >
        <td><%= project.project_id %></td>
        <td><%= project.customer.customer_name %></td>
        <td><%= project.customer.customer_branch %></td>
        <td><%= project.project_type.project_type_description %></td>
        <td><%= project.project_start_date %></td>
        <td><%= project.project_end_date %></td>
        <td><%= number_to_currency(project.bid_amount) %></td>
        <td><%= project.project_status.project_status_description %></td>

        <% comment do %> these are unused in the index page. just here for easy access if needed
        <td><%= project.bid_submit_date %></td>
        <td><%= number_to_currency(project.bid_material_cost) %></td>
        <td><%= number_to_currency(project.bid_cost_of_labor) %></td>
        <td><%= number_to_currency(project.bid_cost_of_permits) %></td>
        <td><%= number_to_currency(project.bid_equipment_rental) %></td>
        <td><%= number_to_currency(project.bid_freight) %></td>
        <td><%= number_to_currency(project.bid_fuel_cost) %></td>
        <td><%= number_to_currency(project.bid_lodging_cost) %></td> %>
        <td><%= number_to_currency(project.applicable_tax) %></td>
        <td><%= number_to_currency(project.bid_amount) %></td> %>
        <% comment end %>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<style>
  tr{
    cursor: pointer;
    }
</style>
<script>
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
  $(document).ready(function(){ //loads
      $('.select2').select2({     //select2
          placeholder: function(){ //sets placeholder based on data-placeholder in the field
              $(this).data('placeholder');
          },
          allowClear: true,
          dropdownParent: $('#filter') //fixes select2 on modals cause technically modals aren't part of the body element
      });
  });
</script>