</br>
<ul class="tabs tabs-fixed-width z-depth-1">
  <li class="tab"><a href="#project">Project</a></li>
  <li class="tab"><a href="#job">Job</a></li>
  <li class="tab"><a href="#material_list">Materials</a></li>
  <li class="tab"><a href="#rental_list">Rental</a></li>
  <li class="tab"><a href="#cost">Costs</a></li>
  <li class="tab"><a href="#notes">Notes</a></li>
</ul>

<%# Project Tab%>
<div id="project">
  <h4>Project</h4>

  <table>
    <col width="225">
    <tr>
      <td><strong>Customer:</strong></td>
      <td><%= @project.customer.customer_and_branch %></td>
    </tr>

    <tr>
      <td><strong>Project Type:</strong></td>
      <td><%= @project.project_type.project_type_description %></td>
    </tr>

    <tr>
      <td><strong>Project Status:</strong></td>
      <td><%= @project.project_status.project_status_description %></td>
    </tr>

    <tr>
      <td><strong>Project Start Date:</strong></td>
      <td><%= @project.try(:project_start_date).try(:strftime, ("%m/%d/%Y")) %></td>
    </tr>

    <tr>
      <td><strong>Project End Date:</strong></td>
      <td><%= @project.try(:project_end_date).try(:strftime, ("%m/%d/%Y")) %></td>
    </tr>

    <tr>
      <td><strong>Bid Submit Date:</strong></td>
      <td><%= @project.bid_submit_date.strftime("%m/%d/%Y") %></td>
    </tr>
  </table>
</div>

<%# Job Tab%>
<div id="job">

  <h4>Jobs</h4>

  <table>

    <% @project.jobs.each do |job| %> <%# iterates through each related job to this project%>
    <tr>
      <td><%= link_to job.job_type.job_type_description, job %></td>
    </tr>
    <% end %>
  </table>

</div>

<%# Material List Tab%>
<div id="material_list">

  <h4>Materials</h4>

  <table>

    <% @project.material_lists.each do |material_list| %> <%# iterates through each related job to this project%>
        <tr>
          <td><%= link_to material_list.material.material_description, material_list %></td>
        </tr>
    <% end %>
  </table>

</div>

<%# Rental List Tab%>
<div id="rental_list">

  <h4>Rental Equipment</h4>

  <table>

    <% @project.rental_lists.each do |rental_list| %> <%# iterates through each related job to this project%>
        <tr>
          <td><%= link_to rental_list.rental_equipment.rental_description, rental_list %></td>
        </tr>
    <% end %>
  </table>

</div>

<%# Cost Tab%>
<div id="cost">

  <h4>Costs</h4>

  <table width="100%">

    <tr>
      <td width="25%"><strong>Material Cost:</strong></td>
      <td width="15%" style="border-right:solid 1px #e0e0e0;"><%= number_to_currency(@project.bid_material_cost) %></td>

      <td width="25%" style="padding-left: 5%"><strong>Freight Cost:</strong></td>
      <td width="25%"><%= number_to_currency(@project.bid_freight) %></td>
    </tr>

    <tr>
      <td><strong>Labor Cost:</strong></td>
      <td style="border-right:solid 1px #e0e0e0;"><%= number_to_currency(@project.bid_cost_of_labor) %></td>

      <td style="padding-left: 5%"><strong>Fuel Cost:</strong></td>
      <td><%= number_to_currency(@project.bid_fuel_cost) %></td>
    </tr>

    <tr>
      <td><strong>Permits Cost:</strong></td>
      <td style="border-right:solid 1px #e0e0e0;"><%= number_to_currency(@project.bid_cost_of_permits) %></td>

      <td style="padding-left: 5%"><strong>Lodging Cost:</strong></td>
      <td><%= number_to_currency(@project.bid_lodging_cost) %></td>
    </tr>

    <tr>
      <td><strong>Rental Equipment Cost:</strong></td>
      <td style="border-right:solid 1px #e0e0e0;"><%= number_to_currency(@project.bid_equipment_rental) %></td>

      <td style="padding-left: 5%"><strong>Applicable Tax:</strong></td>
      <td><%= number_to_currency(@project.applicable_tax) %></td>
    </tr>

    <tr>
      <td style="padding-top: 5%"><strong>Project Bid Amount:</strong></td>
      <td style="padding-top: 5%"><%= number_to_currency(@project.bid_amount) %></td>
    </tr>

  </table>

</div>

<%# Notes Tab%> 
<div id="notes">
    <h4>Notes</h4>

  <table>

    <% @project.project_notes.each do |project_note| %> <%# iterates through each related job to this project%>
        <tr>
          <td><strong>Made by <%= project_note.project_note_owner %> on <%= project_note.try(:project_note_date).try(:strftime, ("%m/%d/%Y")) %>:</strong>
          <%= simple_format(project_note.project_notes) %></td>
        </tr>
    <% end %>
  </table>
</div>
  
</br>  

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  projects_path, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_project_path(@project), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
