<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @project.customer.customer_name %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @project.project_type.project_type_description %>
</p>

<p>
  <strong>Project status:</strong>
  <%= @project.project_status.project_status_description %>
</p>

<p>
  <strong>Project start date:</strong>
  <%= @project.project_start_date %>
</p>

<p>
  <strong>Project end date:</strong>
  <%= @project.project_end_date %>
</p>

<p>
  <strong>Bid submit date:</strong>
  <%= @project.bid_submit_date %>
</p>

<p>
  <strong>Bid material cost:</strong>
  <%= number_to_currency(@project.bid_material_cost) %>
</p>

<p>
  <strong>Bid cost of labor:</strong>
  <%= number_to_currency(@project.bid_cost_of_labor) %>
</p>

<p>
  <strong>Bid cost of permits:</strong>
  <%= number_to_currency(@project.bid_cost_of_permits) %>
</p>

<p>
  <strong>Bid equipment rental:</strong>
  <%= number_to_currency(@project.bid_equipment_rental) %>
</p>

<p>
  <strong>Bid freight:</strong>
  <%= number_to_currency(@project.bid_freight) %>
</p>

<p>
  <strong>Bid fuel cost:</strong>
  <%= number_to_currency(@project.bid_fuel_cost) %>
</p>

<p>
  <strong>Bid lodging cost:</strong>
  <%= number_to_currency(@project.bid_lodging_cost) %>
</p>

<p>
  <strong>Tax rate:</strong>
  <%= number_to_percentage(@project.tax_rate, precision: 2 ) %>
</p>

<p>
  <strong>Bid amount:</strong>
  <%= number_to_currency(@project.bid_amount) %>
</p>


<%# jobs of a project%>
  <strong>Jobs:</strong></br>
    <% @project.jobs.each do |job| %> <%# iterates through each related job to this project%>
      <li><%= link_to job.job_type.job_type_description, job %></li>
      <% comment do %>if you want task on the jobs for the show, uncomment this
      <ul>
        <% job.tasks.each do |task| %> <%# iterates through each related task to this job%>
         <li><%= task.task_description %></li>
        <% end %> 
      <% comment end %>
      </ul>
  <% end %>
</br>

<%# notes of a project%>
  <strong>Notes:</strong></br>
    <% @project.project_notes.each do |project_note| %> <%# iterates through each related job to this project%>
      <%= simple_format(project_note.project_notes) %>
  <% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
