<%= form_with(model: rental_list, local: true) do |form| %>
  <% if rental_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental_list.errors.count, "error") %> prohibited this rental_list from being saved:</h2>

      <ul>
      <% rental_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id  %>
    <%= form.collection_select :project_id, Project.all, :project_id, :project_id, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Project' }%>
  </div>

  <div class="field">
    <%= form.label :rental_equipment_id  %>
    <%= form.collection_select :rental_equipment_id, RentalEquipment.all, :rental_equipment_id, :rental_description, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Rental Equipment' } %>
  </div>

  <div class="field">
    <%= form.label :rental_price %>
    <%= form.numeric_field :rental_price, id: :rental_list_rental_price %>
  </div>

  <div class="field">
    <%= form.label :cost_frequency %>
    <%= form.text_field :cost_frequency, id: :rental_list_cost_frequency %>
  </div>

  <%= button_tag( :class => "btn waves-effect waves-light right") do %>
    Save<i class="material-icons right">save</i>
  <% end %>

<% end %>
