<p id="notice"><%= notice %></p>

<h1>Rental Lists</h1>

<table class="responsive-table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Rental equipment</th>
      <th>Rental price</th>
      <th>Cost frequency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rental_lists.each do |rental_list| %>
      <tr>
        <td><%= rental_list.project_id %></td>
        <td><%= rental_list.rental_equipment.rental_description %></td>
        <td><%= number_to_currency(rental_list.rental_price) %></td>
        <td><%= rental_list.cost_frequency %></td>
        <td><%= link_to 'Show', rental_list %></td>
        <td><%= link_to 'Edit', edit_rental_list_path(rental_list) %></td>
        <td><%= link_to 'Destroy', rental_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental List', new_rental_list_path %>
