<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @rental_list.project_id %>
</p>

<p>
  <strong>Rental equipment:</strong>
  <%= @rental_list.rental_equipment_id %>
</p>

<p>
  <strong>Rental price:</strong>
  <%= @rental_list.rental_price %>
</p>

<p>
  <strong>Cost frequency:</strong>
  <%= @rental_list.cost_frequency %>
</p>

<%= link_to 'Edit', edit_rental_list_path(@rental_list) %> |
<%= link_to 'Back', rental_lists_path %>
