<h4>Project #<%= @rental_list.project.project_and_customer_and_branch %></h4>

<table>
  <col width="200">

  <tr>
    <td><strong>Rental Equipment:</strong></td>
    <td><%= @rental_list.rental_equipment.rental_description %></td>
  </tr>

  <tr>
    <td><strong>Rental Price:</strong></td>
    <td><%= number_to_currency(@rental_list.rental_price) %></td>
  </tr>

  <tr>
    <td><strong>Cost Frequency:</strong></td>
    <td><%= @rental_list.cost_frequency %></td>
  </tr>

</table>

</br>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @rental_list.project, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_rental_list_path(@rental_list), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @rental_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
