

<h1>Rental Equipments</h1>

  <%# button to open up the modal at bottom which has search%> 
  <a class="waves-effect waves-light btn modal-trigger" href="#search"><i class="material-icons right">search</i>search</a>

  <%# search modal at bottom for searching material desc %>
  <div id="search" class="modal bottom-sheet"><%# start modal %>
    <div class="modal-content">
      <h4>Search</h4>
      <%# using ransack to search for these inputs%>
      <%= search_form_for @search, url: search_rental_equipments_path, html: { method: :post } do |f| %>
        <div class="row">
          <div class="field col l6">
            <%= f.label :rental_equipment_id %>
            <%= f.text_field :rental_description_cont %>
          </div>
        </div>
        <%= f.submit 'Search', class: "btn" %>
      <% end %>
    </div>
  </div> <%# end search modal %>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Rental Equipment"), new_rental_equipment_path, class: "btn waves-effect waves-light right" %> 
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :rental_description) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rental_equipments.each do |rental_equipment| %>
      <tr>
        <td><%= rental_equipment.rental_description %></td>
        <td><%= link_to 'Edit', edit_rental_equipment_path(rental_equipment) %></td>
        <% if user_signed_in? && current_user.admin? %><td><%= link_to 'Delete', rental_equipment,  method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<style>
  tr{
    cursor: pointer;
    }
</style>
<script>
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
</script>