<%= form_with(model: material_list, local: true) do |form| %>
  <% if material_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material_list.errors.count, "error") %> prohibited this material_list from being saved:</h2>

      <ul>
      <% material_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col l12">
      <%= form.label :material_id  %>
      <%= form.collection_select :material_id, Material.all, :material_id, :material_description, {:prompt => true}, { :class => 'select2', :selected => 1, "data-placeholder" => 'Select a Material' } %>
    </div>
  </div>

  <div class="row">
    <div class="field col l2">
      <%= form.label :unit_price, "Unit Price ($)" %>
      <%= form.number_field :unit_price, id: :material_list_unit_price, value: number_to_currency(form.object.unit_price.to_f, delimiter: '', unit: ''), step: :any %>
    </div>

    <div class="field col l2">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, id: :material_list_quantit, step: any %>
    </div>
  </div>

  <%= button_tag( :class => "btn waves-effect waves-light right") do %>
    Save<i class="material-icons right">save</i>
  <% end %>

<% end %>
