

<h1>Material List</h1>

  <div id="filter" class="modal bottom-sheet"><%# start filter modal %>
    <div class="modal-content">
      <h4>Filters</h4>
      <%# using ransack to search for these inputs%>
      <%= search_form_for @search, url: search_material_lists_path, html: { method: :post } do |f| %>
        <div class="row">
          <div class="field col l2">
            <%= f.label :unit_price_gteq %>
            <%= f.text_field :unit_price_gteq %>
          </div>
          <div class="field col l2">
            <%= f.label :unit_price_lteq %>
            <%= f.text_field :unit_price_lteq %>
          </div>
        </div>
        <div class="row">
          <div class="field col l2">
            <%= f.label :quantity_gteq %>
            <%= f.text_field :quantity_gteq %>
          </div>
          <div class="field col l2">
            <%= f.label :unit_price_lteq %>
            <%= f.text_field :unit_price_lteq %>
          </div>
        </div>
        <div class="row">
          <div class="field col l2">
            <%= f.label :total_gteq %>
            <%= f.text_field :total_gteq %>
          </div>
          <div class="field col l2">
            <%= f.label :total_lteq %>
            <%= f.text_field :total_lteq %>
          </div>
        </div>
        <%= f.submit 'Apply', class: "btn" %>
        <%= link_to 'Clear',  material_lists_path, class: "btn waves-effect waves-light grey" %> 
      <% end %>
    </div>
  </div> <%# end filter modal %>

  <div id="search" class="modal bottom-sheet"><%# start search modal %>
    <div class="modal-content">
      <h4>Search</h4>
      <%# using ransack to search for these inputs%>
      <%= search_form_for @search, url: search_material_lists_path, html: { method: :post } do |f| %>
        <div class="row">
          <div class="field col l6">
            <%= f.label :material_id %>
            <%= f.text_field :material_material_description_cont %>
          </div>
        </div>
        <%= f.submit 'Search', class: "btn" %>
      <% end %>
    </div>
  </div> <%# end search modal %>

  <%# button to open up the modal at bottom which has filter options%> 
  <a class="waves-effect waves-light btn modal-trigger" href="#filter"><i class="material-icons right">filter_list</i>filter</a>
  <%# button to open up the modal at bottom which has search %> 
  <a class="waves-effect waves-light btn modal-trigger" href="#search"><i class="material-icons right">search</i>search</a>
  <%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Material List"), new_material_list_path, class: "btn waves-effect waves-light right" %> 
  
<table class="table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :project_id) %></th>
      <th><%= sort_link(@search, :material_material_description, "Material") %></th>
      <th><%= sort_link(@search, :unit_price) %></th>
      <th><%= sort_link(@search, :quantity) %></th>
      <th><%= sort_link(@search, :total) %></th>

    </tr>
  </thead>

  <tbody>
    <% @material_lists.each do |material_list| %>
      <tr data-link=" <%= material_list_path(material_list) %>" >
        <td><%= material_list.project_id %></td>
        <td><%= material_list.material.material_description %></td>
        <td><%= number_to_currency(material_list.unit_price) %></td>
        <td><%= material_list.quantity %></td>
        <td><%= number_to_currency(material_list.total) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= paginate @material_lists %></center>

<style>
  tr{
    cursor: pointer;
    }
</style>
<script>
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
</script>