

<p>
  <strong>Project:</strong>
  #<%= @material_list.project.project_and_customer_and_branch %>
</p>

<p>
  <strong>Material:</strong>
  <%= @material_list.material.material_description %>
</p>

<p>
  <strong>Unit Price:</strong>
  <%= number_to_currency(@material_list.unit_price) %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @material_list.quantity %>
</p>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @material_list.project, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_material_list_path(@material_list), class: "btn waves-effect waves-light" %> 
<%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @material_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %>
