<h4>Project #<%= @material_list.project.project_and_customer_and_branch %></h4>

<table>
  <col width="150">

  <tr>
    <td><strong>Material:</strong></td>
    <td><%= @material_list.material.material_description %></td>
  </tr>

  <tr>
    <td><strong>Unit Price:</strong></td>
    <td><%= number_to_currency(@material_list.unit_price) %></td>
  </tr>

  <tr>
    <td><strong>Quantity:</strong></td>
    <td><%= @material_list.quantity %></td>
  </tr>

</table>

</br>

<%= link_to raw("<i class=\"material-icons right\">arrow_back</i>Back"),  @material_list.project, class: "btn waves-effect waves-light grey" %> 
<%= link_to raw("<i class=\"material-icons right\">edit</i>Edit"), edit_material_list_path(@material_list), class: "btn waves-effect waves-light" %> 
<% if user_signed_in? && current_user.admin? %><%= link_to raw("<i class=\"material-icons right\">delete</i>Delete"), @material_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect waves-ligh red right" %><% end %>
