

<h1>Employee Statuses</h1>

<%= link_to raw("<i class=\"material-icons right\">add_circle</i>New Employee Status"), new_employee_status_path, class: "btn waves-effect waves-light right" %> 

<table class="table highlight">
  <thead>
    <tr>
      <th><%= sort_link(@search, :employee_status_description, "Employee Status Description") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_statuses.each do |employee_status| %>
      <tr>
        <td><%= employee_status.employee_status_description %></td>
        <td><%= link_to 'Edit', edit_employee_status_path(employee_status) %></td>
        <% if user_signed_in? && current_user.admin? %><td><%= link_to 'Delete', employee_status,  method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= paginate @employee_statuses %></center>
