<!--<h1>Report11</h1>-->
<p id="notice"><%= notice %></p>

<h2>Bid Information</h2>
<h6>Download:
  <%= link_to "Excel", reports_bid_info_path(format: "xlsx") %> |
  <%= link_to "PDF", reports_bid_info_path(format: "pdf") %>
</h6>

<table class="table">
  <thead>
  <tr>
    <th>Project ID</th>
    <th>Customer Name</th>
    <th>Customer Branch</th>
    <th>Job Type</th>
    <th>Bid Submit Date</th>
    <th>Bid Amount</th>
    <th>Project Status</th>
    <th colspan="7"></th>
  </tr>
  </thead>

  <tbody>
  <% @bidinfo.each do |bids| %>
      <tr>
        <td><%= bids['project_id'] %></td>
        <td><%= bids['customer_name'] %></td>
        <td><%= bids['customer_branch'] %></td>
        <td><%= bids['job_type_description'] %></td>
        <td><%= bids['bid_submit_date'] %></td>
        <td><%= bids['bid_amount'] %></td>
        <td><%= bids['project_status_description'] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
