<h3>Reports</h3>

<ol>

  <li><%= link_to 'Project Notes', reports_report28_path %>
    <br><br></li>

  <li><%= link_to 'Compare Projects by Job Type and Bid Amount', reports_report2_path %>
  <br><br></li>

  <li><%= link_to 'Rental Equipment Frequency', reports_report27_path %>
  <br><br></li>

  <li><%= link_to 'Subcontractor Hiring Frequency', reports_report17_path %>
  <br><br></li>

  <li><%= link_to 'Subcontractors by Activity Status', reports_report1_path %>
  <br><br></li>

  <li><%= link_to 'Project Duration', reports_report14_path %>
    <br><br></li>

  <li><%= link_to 'Bid Information', reports_report11_path %>
    <br><br></li>

  <li><%= link_to 'Completed Projects', reports_report3_path %> | Download: <%= link_to "Excel", reports_report3_path(format: "xlsx") %> |
  <%= link_to "PDF", reports_report3_path(format: "pdf") %>
  <br><br></li>

  <li><%= link_to 'Active Projects', reports_report4_path %> | Download: <%= link_to "Excel", reports_report4_path(format: "xlsx") %> |
  <%= link_to "PDF", reports_report4_path(format: "pdf") %>
  <br><br></li>

  <li><%= link_to 'Awaiting Bid Response', reports_report5_path %> | Download: <%= link_to "Excel", reports_report5_path(format: "xlsx") %> |
    <%= link_to "PDF", reports_report5_path(format: "pdf") %>
  <br><br></li>

  <li><%= link_to 'Denied Bids', reports_report7_path %> | Download: <%= link_to "Excel", reports_report7_path(format: "xlsx") %> |
    <%= link_to "PDF", reports_report7_path(format: "pdf") %>
  <br><br></li>


  <li><%= link_to 'Show Duration of Job in Project', reports_report15_path %>| Download: <%= link_to "Excel", reports_report15_path(format: "xlsx") %> |
  <%= link_to "PDF", reports_report15_path(format: "pdf") %>
  <br><br></li>

  <li><%= link_to 'Show Duration of Task in Project', reports_report16_path %><| Download: <%= link_to "Excel", reports_report16_path(format: "xlsx") %> |
  <%= link_to "PDF", reports_report16_path(format: "pdf") %>
  <br><br></li>





  <li><%= link_to 'Show Ongoing Jobs', reports_report19_path %> | Download: <%= link_to "Excel", reports_report19_path(format: "xlsx") %> |
  <%= link_to "PDF", reports_report19_path(format: "pdf") %>
  <br><br></li>



<li><%= link_to 'Show Awaiting Bids', reports_report8_path %> | Download: <%= link_to "Excel", reports_report8_path(format: "xlsx") %> |
<%= link_to "PDF", reports_report8_path(format: "pdf") %>
<br><br></li>

<li><%= link_to 'Show Projects with Specific Customer', reports_report9_path %> | Download: <%= link_to "Excel", reports_report9_path(format: "xlsx") %> |
<%= link_to "PDF", reports_report9_path(format: "pdf") %>
<br><br> </li>

<li><%= link_to 'Show All Tasks for a Job', reports_report12_path %>| Download: <%= link_to "Excel", reports_report12_path(format: "xlsx") %> |
<%= link_to "PDF", reports_report12_path(format: "pdf") %>
<br><br></li>


<li><%= link_to 'Show Rental List for This Project', reports_report20_path %> | Download: <%= link_to "Excel", reports_report20_path(format: "xlsx") %> |
<%= link_to "PDF", reports_report20_path(format: "pdf") %>
<br><br></li>


  <li><%= link_to 'Show Active Tasks', reports_report22_path %>| Download: <%= link_to "Excel", reports_report22_path(format: "xlsx") %> |
<%= link_to "PDF", reports_report22_path(format: "pdf") %>
<br><br></li>

  <li><%= link_to 'Show Completed Tasks', reports_report23_path %> | Download: <%= link_to "Excel", reports_report23_path(format: "xlsx") %> |
<%= link_to "PDF", reports_report23_path(format: "pdf") %>
<br><br></li>

  <li><%= link_to 'Show Projects for this month', reports_report21_path %>| Download: <%= link_to "Excel", reports_report21_path(format: "xlsx") %> |
    <%= link_to "PDF", reports_report21_path(format: "pdf") %>
    <br><br></li>

<li><%= link_to 'Show Projects for this week', reports_report24_path %> | Download: <%= link_to "Excel", reports_report24_path(format: "xlsx") %> |
<%= link_to "PDF", reports_report24_path(format: "pdf") %>
<br><br></li>

<li><%= link_to 'Show Projects for this year', reports_report25_path %> | Download: <%= link_to "Excel", reports_report25_path(format: "xlsx") %> |
<%= link_to "PDF", reports_report25_path(format: "pdf") %>
  <br><br></li>

</ol>
