<h3>Reports</h3>

<ol>

  <table>
    <tr>
      <td>
        <li><%= link_to 'Project Notes for Active Bids and Projects', reports_project_notes_path %></li>
      </td>
    </tr>

    <tr>
      <td>
        <li><%= link_to 'Compare Projects by Job Type and Bid Amount', reports_compare_projects_path %></li>
      </td>
    </tr>

    <tr>
      <td>
        <li><%= link_to 'Bid Information', reports_bid_info_path %></li>
      </td>
    </tr>

    <tr>
      <td>
        <li><%= link_to 'Project Duration', reports_project_duration_path %></li>
      </td>
    </tr>

    <tr>
      <td>
        <li><%= link_to 'Job Duration', reports_job_duration_path %></li>
      </td>
    </tr>

    <tr>
      <td>
        <li><%= link_to 'Task Duration', reports_task_duration_path %></li>
      </td>
    </tr>

    <tr>
      <td>
        <li><%= link_to 'Tasks by Activity Status', reports_tasks_status_path %></li>
      </td>
    </tr>

    <tr>
      <td>
        <li><%= link_to 'Rental Equipment Frequency', reports_rental_freq_path %></li>
      </td>
    </tr>

    <tr>
      <td>
        <li><%= link_to 'Subcontractor Hiring Frequency', reports_subcontractor_freq_path %></li>
      </td>
    </tr>

    <tr>
      <td>
        <li><%= link_to 'Subcontractors by Activity Status', reports_subcontractors_status_path %></li>
      </td>
    </tr>

  </table>

</ol>