<h1> I can't style :(</h1>

<td><%= link_to 'Report1', reports_report1_path %></td>

<td><%= link_to 'Report2', reports_report2_path %></td>

<td><%= link_to 'Report3', reports_report3_path %></td>

<td><%= link_to 'Report4', reports_report4_path %></td>

<td><%= link_to 'Report5', reports_report5_path %></td>

<td><%= link_to 'Report6', reports_report6_path %></td>

<td><%= link_to 'Report7', reports_report7_path %></td>

<td><%= link_to 'Report8', reports_report8_path %></td>

<td><%= link_to 'Report9', reports_report9_path %></td>

<td><%= link_to 'Report10', reports_report10_path %></td>

<td><%= link_to 'Report11', reports_report11_path %></td>

<td><%= link_to 'Report12', reports_report12_path %></td>

<td><%= link_to 'Report13', reports_report13_path %></td>

<td><%= link_to 'Report14', reports_report14_path %></td>

<td><%= link_to 'Report15', reports_report15_path %></td>

<td><%= link_to 'Report16', reports_report16_path %></td>

<td><%= link_to 'Report17', reports_report17_path %></td>

<td><%= link_to 'Report18', reports_report18_path %></td>

<td><%= link_to 'Report19', reports_report19_path %></td>

<td><%= link_to 'Report20', reports_report20_path %></td>

<td><%= link_to 'Report21', reports_report21_path %></td>

<td><%= link_to 'Report22', reports_report22_path %></td>

<td><%= link_to 'Report23', reports_report23_path %></td>

<td><%= link_to 'Report24', reports_report24_path %></td>

<td><%= link_to 'Report25', reports_report25_path %></td>

<td><%= link_to 'Report26', reports_report26_path %></td>
