<h3>Reports</h3>

<ol>

  <li><%= link_to 'Project Notes for Active Bids and Projects', reports_report28_path %>
  <br><br></li>

  <li><%= link_to 'Compare Projects by Job Type and Bid Amount', reports_report2_path %>
  <br><br></li>

  <li><%= link_to 'Bid Information', reports_report11_path %>
    <br><br></li>

  <li><%= link_to 'Rental Equipment Frequency', reports_report27_path %>
  <br><br></li>

  <li><%= link_to 'Subcontractor Hiring Frequency', reports_report17_path %>
  <br><br></li>

  <li><%= link_to 'Subcontractors by Activity Status', reports_report1_path %>
  <br><br></li>

  <li><%= link_to 'Project Duration', reports_report14_path %>
  <br><br></li>

  <li><%= link_to 'Job Duration', reports_report15_path %>
  <br><br></li>

  <li><%= link_to 'Task Duration', reports_report16_path %>
    <br><br></li>

  <li><%= link_to 'Tasks by Activity Status', reports_report22_path %>
<br><br></li>





</ol>
