<!--<h1>Report1</h1>-->
<p id="notice"><%= notice %></p>

<h2>Terminated Subcontractors</h2>
<h6>Download:
<%= link_to "Excel", reports_report1_path(format: "xlsx") %> |
  <%= link_to "PDF", reports_report1_path(format: "pdf") %></h6>

<table class="table">
  <thead>
  <tr>
    <th>Subcontractor Name</th>
    <th>Company</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @term_subs.each do |subcontractor| %>
      <tr>
        <td><%= subcontractor['subcontractor_name'] %></td>
        <td><%= subcontractor['company'] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>