<!--<h1>Report30</h1>-->
<p id="notice"><%= notice %></p>

<h2>Inactive Subcontractors</h2>
<h6>
  Download:
<%= link_to "Excel", reports_report30_path(format: "xlsx") %> |
<%= link_to "PDF", reports_report30_path(format: "pdf") %>
</h6>

<table class="table">
  <thead>
  <tr>
    <th>Subcontractor Name</th>
    <th>Company</th>
    <th>Phone</th>
    <th>Email</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @inact_subs.each do |subcontractor| %>
      <tr>
        <td><%= subcontractor['subcontractor_name'] %></td>
        <td><%= subcontractor['company'] %></td>
        <td><%= subcontractor['subcontractor_phone'] %></td>
        <td><%= subcontractor['subcontractor_email'] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>