<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a <%= link_to "Sign out", destroy_user_session_path, :method=> 'delete'%></a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Rollingstone Construction</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li class="<%= 'active' if params[:controller] == 'home' %>">
        <a class="nav-link" <%= link_to 'Home', root_path %></a>
      </li>

      <li class="<%= 'active' if params[:controller] == 'projects' %>"> 
        <a class="nav-link" <%= link_to 'Projects', projects_path %></a>
      </li>

      <li class="<%= 'active' if params[:controller] == 'customers' %>">
        <a class="nav-link" <%= link_to 'Customers', customers_path %></a>
      </li>

      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">arrow_drop_down</i></a></li>

    </ul>


  </div>
</nav>


<% if false%> this is just how an if logged in, show or dont show login button and logout. this used bootstrap styling
    <%# sign in%>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Account <b class="caret"></b>
          </a>     

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" <%= link_to "Sign out", destroy_user_session_path, :method=> 'delete'%></a>
          </div>
      <% else %>
            <a class="nav-link" <%= link_to 'Log In', new_user_session_path %></a>
      <% end %>
        </li>
    </ul>
  </div>
</nav><% end %>