<% unless controller.controller_name == "sessions" || controller.controller_name == "passwords"%>
<body data-turbolinks="false">
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" style="margin-left: 20px;" <%= link_to 'RS Pro', root_path %></a>

    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <% comment do %>
      <li class="<%= 'active' if params[:controller] == 'home' %>">
        <a class="nav-link" <%= link_to 'Home', root_path %></a>
      </li>
      <% comment end %>

      <li class="<%= 'active' if params[:controller] == 'projects' %>"> 
        <a class="nav-link" <%= link_to 'Projects', projects_path %></a>
      </li>

      <li class="<%= 'active' if params[:controller] == 'customers' %>">
        <a class="nav-link" <%= link_to 'Customers', customers_path %></a>
      </li>

      <%# drop down(resources) trigger on navbar%>
      <li><a class="dropdown-trigger" href="#!" data-target="resources">Resources<i class="material-icons right">arrow_drop_down</i></a></li> <%# contains subcontractors, materials, rental equipment%>

      <% if current_user.present? && current_user.admin? %>
      <li class="<%= 'active' if params[:controller] == 'reports' %>">
        <a class="nav-link" <%= link_to 'Reports', reports_path %></a>
      </li>

        <li class="<%= 'active' if params[:controller] == 'pages' %>">
          <a <%= link_to "Admin Panel", admin_panel_path %></a>
        </li>
      <% end %>

      <li><a class="dropdown-trigger" href="#!" data-target="user">Signed in as: <% if user_signed_in? %> <%= current_user.name %> <% end %></a></li>

    </ul>
  </div>
</nav>


<%# dropdown2(resources) contents on navbar %>
<ul id="resources" class="dropdown-content">
  <li class="<%= 'active' if params[:controller] == 'subcontractors' %>">
    <a class="nav-link" <%= link_to 'Subcontractors', subcontractors_path %></a>
  </li>
  <li class="<%= 'active' if params[:controller] == 'materials' %>">
    <a class="nav-link" <%= link_to 'Materials', materials_path %></a>
  </li>
  <li class="<%= 'active' if params[:controller] == 'rental_equipments' %>">
    <a class="nav-link" <%= link_to 'Rental Equipment', rental_equipments_path %></a>
  </li>
</ul>

<%# dropdown1(user) contents on navbar %>
<ul id="user" class="dropdown-content">
  <li><%= link_to "Profile", current_user %></li>
  <li class="divider"></li>
  <li><a <%= link_to "Sign out", destroy_user_session_path, :method=> 'delete'%></a></li>
</ul>

<%# side navbar for mobile %>
<ul class="sidenav" id="mobile-demo">
  <li class="<%= 'active' if params[:controller] == 'home' %>">
    <a class="nav-link" <%= link_to 'Home', root_path %></a>
  </li>

  <li class="<%= 'active' if params[:controller] == 'projects' %>"> 
    <a class="nav-link" <%= link_to 'Projects', projects_path %></a>
  </li>

  <li class="<%= 'active' if params[:controller] == 'customers' %>">
    <a class="nav-link" <%= link_to 'Customers', customers_path %></a>
  </li>

  <li class="<%= 'active' if params[:controller] == 'subcontractors' %>">
    <a class="nav-link" <%= link_to 'Subcontractors', subcontractors_path %></a>
  </li>

  <li class="<%= 'active' if params[:controller] == 'materials' %>">
    <a class="nav-link" <%= link_to 'Materials', materials_path %></a>
  </li>

  <li class="<%= 'active' if params[:controller] == 'rental_equipments' %>">
    <a class="nav-link" <%= link_to 'Rental Equipment', rental_equipments_path %></a>
  </li>

  <% if current_user.present? && current_user.admin? %>
    <li class="<%= 'active' if params[:controller] == 'reports' %>">
      <a class="nav-link" <%= link_to 'Reports', reports_path %></a>
    </li>

    <li class="<%= 'active' if params[:controller] == 'pages' %>">
      <a <%= link_to "Admin Panel", admin_panel_path %></a>
    </li>
  <% end %>
  
  <li><a <%= link_to "Sign out", destroy_user_session_path, :method=> 'delete'%></a></li>
</ul>
</body>
<%end%>